<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <h1>Contacts Page</h1>
    <p>Contact List</p>
    <ul>
		  <li><a href="/contacts">View all contacts</a></li>
      <li><a href="/contacts">Return to Main Menu</a></li>
	  </ul>
  </body>
</html>
