<h2>Contacts Page</h2>

<ul>
<% @@rolodex.contacts.each do |contact| %>
  <li><%= contact.first_name %> <%= contact.last_name %> <%= contact.email %> <%= contact.notes%></li>
<% end %>
</ul>
<p><a href="/contacts/new">Create Another Contact</a></p>

<!-- tells how the Contacts page will be laid out-->