<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <h1>Contacts Page</h1>
    <p>All Contacts</p>
    <ul>
    <% @@rolodex.contacts.each do |contact| %>
		<li><%= contact.first_name %> <%= contact.last_name %></li>
    <% end %> 
	</ul>
  </body>
</html>