<h2>Contacts Page</h2>

<ol>
<% @@rolodex.contacts.each do |contact| %>
  <li><a href="/contacts/<%= contact.id %>"><%= contact.first_name %> <%= contact.last_name %></a></li>

<% end %>
</ol>

<!-- tells how the Contacts page will be laid out-->