<!--<h1>Welcome to <%= @crm_app_name %></h1> -->           
    
<section class="intro">
		<h2>Hey There!</h2>	
		<p>I'm glad you're here! Test out my first Customer Relationship Management (CRM) App! Tell me what you think! </p></section>


