<h1>Welcome to <%= @crm_app_name %></h1>            
    
<ul>
	<li><a href="/contacts">View all contacts</a></li>
	<li><a href="/contacts/new">Create new contact</a></li>
	<li><a href="/contacts/:id/edit">Edit contact</a></li>      <!--did not create yet-->
	<li><a href="/contacts/:id/delete">Delete contact</a></li>  <!--did not create yet-->
</ul>