<!DOCTYPE html>
<html>
<head>
	<title> CRM-WEB </title>
</head>
<body>
<%= yield %>
	<header>
	wtf!
	 </header>
	<footer> jen2014 </footer>
<br />
	<nav>
		<a href="/contacts">View all contacts</a>
		<a href="/contacts/new">Create new contact</a>
	</nav>
</body>
</html>
