<!DOCTYPE html>
<html>
	<head>
		<title> CRM-WEB </title>
		<link rel="stylesheet" type="text/css" href="/style.css">
	</head>

	<body>
	<%= yield %>
		<header>
		wtf!
		<p>hello</p>
		 </header>

		
	<br />

	<div class="column">
		<h3 class="column1"></h3>
	</div>

	<nav>
		<a href="/contacts">View all contacts</a>
		<br />
		<a href="/contacts/new">Create new contact</a>
	</nav>

	<footer> @jennikins </footer>

	</body>
</html>
