<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/style.css">
		<title> JEN CRM </title>
	</head>

	<body>
	<h1>Welcome to Jen's CRM </h1>
		<header class="mainheader">
			
			<nav><ul>
				<strong><li><a href="/">Home Page</a></li></strong>	
				<strong><li><a href="/contacts">All Contacts</a></li></strong>
	 			<strong><li><a href="/contacts/new">Create New</a></li></strong>
			</ul></nav>

			<br/ >
			<br/ >
			<%= yield %>
		
	 </header>

<section class="right-col">
	<h3>Comments? Questions? Suggestions?</h3>
	<p>Please reach me at jennikins813@yahoo.com, or visit my facebook page.</p>
	<p>Thanks for your feedback!</p>
	<div class="social">
		<tr>
		<td><a href="http://www.facebook.com/jen.follero" target="_blank"><img src="http://www.w3newbie.com/wp-content/uploads/facebook.png"/></a></td>
		</tr>
	</div>
</section>
<footer> jennikins_bitmakerlabs_cohort6</footer>

	</body>
</html>