<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/style.css">
		<title> JEN CRM </title>
		
	</head>

	<body>
	<h1>Welcome to MY wtf CRM </h1>
	<%= yield %>
	
	hello
		<header class="mainheader">
		<br />
		<!--
			<img src="Client-Relationship-Management.jpeg"/>   -->
			<nav><ul>
				<strong><li><a href="/">Home Page</a></li></strong>	
				<strong><li><a href="/contacts">View all contacts</a></li></strong>
	 			<strong><li><a href="/contacts/new">Create new contact</a></li></strong>
	 			
			</ul></nav>
	 </header>	 

	<!--<div class="column">
	<h3 class="column1"></h3>
	</div> -->

	<footer> @jennikins </footer>
	

	</body>
</html>


<!--header tag replaces div id="header">