<!DOCTYPE html>
<html>
<head>
	<title> CRM-WEB </title>

	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<%= yield %>
	<header>
	wtf!
	<p>hello</p>
	 </header>
	<footer> jen2014 </footer>
<br />
<div class="column">
	<h3 class="column1"></h3>
</div>
<div class="column">
	<h3 class="column2"></h3>
</div>
<nav>
	<a href="/contacts">View all contacts</a>
	<a href="/contacts/new">Create new contact</a>
</nav>
</body>
</html>
