<h2>Create New Contact</h2>

<div id="new_contact">
<form action="/contacts" method="post">        <!-- verbs supported by form: post,get-->
  <strong>First Name:</strong> <input type="text" name="first_name" autofocus placeholder="first name"> 
  <strong>Last Name:</strong> <input type="text" name="last_name" required="required" placeholder="last name">
  
  <strong>E-mail Address:</strong> <input type="text" name="email" placeholder="e-mail">
  <strong>Notes:</strong> <input type="text" name="notes" placeholder="notes">
 </div>

  <div id="list">
  <input type="submit" name="Submit" value="SAVE!">
  </div>
</form>
<br />



