<h1>Create New Contact</h1>
<form action="/contacts" method="post">
  First Name: <input type="text" name="first_name">
  Last Name: <input type="text" name="last_name">
  Email: <input type="text" name="email">
  Notes: <input type="text" name="notes">
  <input type="submit" name="Submit">
</form>
<p><a href="/">Home Page</a> </p> 
