<h2>Create New Contact</h2>

<form action="/contacts" method="post">        <!-- verbs supported by form: post,get-->
  <strong>First Name:</strong> <input type="text" name="first_name" autofocus placeholder="yo first name"> 
  <strong>Last Name:</strong> <input type="text" name="last_name" required="required" placeholder="yo last name">
  <strong>E-mail Address:</strong> <input type="text" name="email" placeholder="e-mail">
  <strong>Notes:</strong> <input type="text" name="notes" placeholder="notes">
  
  <input type="submit" name="Submit" value="Save Contact">
</form>
<br />
<!--<p><a href="/contacts/new">Create Another Contact</a></p> -->


<!--input: main form control; nn specify a type, name, etc.-->
  <!--textarea:another control; nn give a name; eg. <textarea name ="notes"></textarea> -->
  <!--select:another control; eg:
  	<select name="Capitol">
  		<option value="1">Toronto</option>  ## only the value is passed to the server:
  		<option value="2">Edmonton</option>  ## value 2 (and not Edmonton)
  		<option value="3">Victoria</option>
  	</select>  -->
  <!-- label: a control (eg. radio buttons)  ## labels are html;dsnt go to the server.
  	<label for="frdio-1">wtf</label>  ##targets a specific form control; "label for" must match "id"
  	<input type="radio" name="frdio" id="frdio-1"/> -->
  <!--more labels
    <input type="checkbox" name="check" value="1"/>
    <input type="hidden" name="hiding" value="0"/>  ##hidden:--> 
  <!-- <fieldset>    #grouping; not passed to the server. styling not needed.
  		<legend>more wtf</legend> autofocus
  		<input type="text" name="foo" autofocus required placeholder="give me your name!"/>  #autofocus focuses on the field the user nn to fill out.
  		<input type="number" name="n"/> 	##these look cool
  		<input type="color" name="c"/>		##these look cool
  	   </fieldset>-->
  <!--  -->





<!-- REMINDERS: html5 is not supported in all browsers (def not in IE8-->