*{
	-moz-box-sizing: border-box; 	        /*i don't remember what this does*/
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	background-color: White ; 			
}

body {
	font-family: "Century Gothic";
	color: Blue; 					/* had this as white*/
}

h1 {
	text-align: center;
}
.mainheader img {
	width: 300px;
	height: auto;  
	margin: 2% 0;
}

.mainheader nav {
	background-color: rgba(200, 200, 200, 0.6);
	height: 40px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.mainheader nav ul {
	list-style: none;
	margin: 0 auto;
}

.mainheader nav ul li {
	float: left;
	display: inline;
}

.mainheader nav a:link, .mainheader nav a:visited {
	color: #232DFF;
	display: inline-block;
	padding: 10px 25px;
	height: 20px
}

.mainheader nav a:hover, .mainheader nav .active a:link, 
.mainheader nav .active a:visited {
	background-color: white;
	height: 40px;
	text-shadow: none;
}

.mainheader nav ul li a {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 50%;
	height: 30px;
	color: White;		/* had this as white*/
}

input,textarea {  				/*test these "input ids" (on the form part*/
	width: 100px;
	border: 1px solid: #999;
	line-height: 1.2rem;
}

input[type=submit] {  			/*test these "input ids" (on the form part*/
	width: 100px;
}


.column {
	background-color: Gainsboro;
	border: 1px solid #666;
	padding: 5px;
	margin: 5px;
	width: 20%;
	float: left;
}