*{
	-moz-box-sizing: border-box; 	        /*i don't remember what this does*/
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	background-color: White ;
	background: url(http://images2.alphacoders.com/186/186192.jpg) no-repeat center left fixed;
}

body {
	font-family: "Century Gothic";
	color: White;
}

h1 {
	text-align: center;
}

footer {
	position: absolute;
	bottom: 0;
	width: 50%;
	height: 30px;
	color: White;
}

input,textarea {  				/*test these "input ids" (on the form part*/
	width: 100px;
	border: 1px solid: #999;
	line-height: 1.2rem;
}

input[type=submit] {  			/*test these "input ids" (on the form part*/
	width: 100px;
}


.column {
	background-color: Gainsboro;
	border: 1px solid #666;
	padding: 5px;
	margin: 5px;
	width: 20%;
	float: left;
}